<div class="container">
    <div class="row pt-5 justify-content-center">
        <table mat-table
               [dataSource]="dataSource"
               class="col-12 mat-elevation-z8">

            <!-- Position Column -->
            <ng-container matColumnDef="verb">
                <th mat-header-cell
                    *matHeaderCellDef> Глагол </th>
                <td mat-cell
                    *matCellDef="let element"> {{element.verb}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="iAndYouForm">
                <th mat-header-cell
                    *matHeaderCellDef> Форма я и ты </th>
                <td mat-cell
                    *matCellDef="let element"> {{element.iAndYouForm}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="translate">
                <th mat-header-cell
                    *matHeaderCellDef> Перевод </th>
                <td mat-cell
                    *matCellDef="let element"> {{element.translate}} </td>
            </ng-container>

            <tr mat-header-row
                *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row
                *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>